{% block form_row %}
  {% spaceless %}
    <div class="form-group nj">
    {{ form_errors(form) }} {# Format for each single error is below - {% block form_errors %}{% endblock form_errors %} #}
    {{ form_label(form)|raw }}
      {% if errors|length > 0 %}
        <div class="error">{{ form_widget(form) }}</div>
      {% else %}
        {{ form_widget(form) }}
      {% endif %}
    </div>
  {% endspaceless %}
{% endblock form_row %}

{% block form_errors %}
  {% spaceless %}
    {% if errors|length > 0 %}
      {% for error in errors %}
        <div class="alert alert-danger center">
          {{
            error.messagePluralization is null
              ? error.messageTemplate|trans(error.messageParameters, 'validators')
              : error.messageTemplate|transchoice(error.messagePluralization, error.messageParameters, 'validators')
          }}
        </div>
      {% endfor %}
    {% endif %}
  {% endspaceless %}
{% endblock form_errors %}