<!DOCTYPE html>
<html {% block htmlclass %}class=""{% endblock htmlclass %} lang="en">
  <head>

    <meta http-equiv="Content-Type" content="text/html;" charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <![endif]-->
    <title>{% block title %}EdBlog{% endblock %}</title>

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    {% block metaTags %}
      {# <meta name="EdBlog">#}
      <meta name="description" content="">
      <meta property="og:site_name" content="EdBlog">
      <meta property="og:url" content="http://www.etondigital.com/">
      <meta property="og:title" content="EdBlog">
      <meta property="og:image" content="{{ asset('bundles/edblog/img/svg/edblog-logo.svg') }}">
      <meta property="og:description" content="EdBlog">
      <meta charset="utf-8">
      {# <meta name="robots" content="noindex,follow" />#}
    {% endblock %}

    {# We merge several css files into 1, and that way we reduce number of calls during page rendering #}
    {# Vendor css files #}
    {% stylesheets
      'bundles/edblog/css/bootstrap.css' filter="cssrewrite" 
    %}
      <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    
    {# EdBlog css files #}
    {% block stylesheets %}
      {% stylesheets
        'bundles/edblog/css/main.min.blessed.css' filter="cssrewrite" 
      %}
        <link rel="stylesheet" href="{{ asset_url }}" />
      {% endstylesheets %}
    {% endblock %}

    {# Fonts #}
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href='//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,300,400,600,700,800&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

    <link rel="alternate" type="application/atom+xml" title="EDBlog Feed" href="{{ path('ed_blog_admin_feed', { 'type': 'atom' }) }}" >
    <link rel="alternate" type="application/rss+xml" title="EDBlog Feed" href="{{ path('ed_blog_admin_feed', { 'type':  'rss' }) }}" >
  </head>


  <body class="{% block body_class %}{% endblock body_class %}">

    {% block body %}
      <div class="flash">
        {{ include('EDBlogBundle:Utils:flash_message.html.twig') }}
      </div>
    {% endblock %}

    {% block modals %}
      <div class="modal fade" id="js-main-modal" tabindex="-1" role="dialog" aria-hidden="true">
      </div>
    {% endblock modals %}

    {% block javascripts %}

      {% javascripts
        '@EDBlogBundle/Resources/public/js/vendor/jquery.min.js'
        '@EDBlogBundle/Resources/public/js/vendor/bootstrap.min.js'

        '@EDBlogBundle/Resources/public/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js'
        '@EDBlogBundle/Resources/public/js/vendor/retina-1.1.0.min.js'
        '@EDBlogBundle/Resources/public/js/vendor/imagesloaded.pkgd.min.js'
        '@EDBlogBundle/Resources/public/js/vendor/isotope.pkgd.min.js'

        '@EDBlogBundle/Resources/public/js/vendor/jquery.ui.widget.js'
        '@EDBlogBundle/Resources/public/js/vendor/jquery.fileupload.js'

        '@EDBlogBundle/Resources/public/js/fe-general.js'
        '@EDBlogBundle/Resources/public/js/frontend.js'
      %}
      <script type="text/javascript" src="{{ asset_url }}"></script>
      {% endjavascripts %}



    {% endblock %}

  </body>
</html>
