{% block checkbox_widget %}
{% spaceless %}
<div class="checkbox">
    <label><input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />{{ label }}</label>
</div>
{% endspaceless %}
{% endblock checkbox_widget %}

{% block choice_widget_expanded %}
    {% spaceless %}
        <div {{ block('widget_container_attributes') }}>
            {% for child in form %}
                <div class="radio {% if(loop.first) %}margin--notop{% else %}margin{% endif %}">
                    <label>{{ form_widget(child) }}{{ child.vars.label|trans({}, translation_domain) }}</label>
                </div>
            {% endfor %}
        </div>
    {% endspaceless %}
{% endblock choice_widget_expanded %}

{% block field_row %}
{% spaceless %}
    <div class="control-group{% if errors|length > 0 %} error{% endif %}">
        {{ form_label(form, label|default(null)) }}
        <div class="controls">
            {{ form_widget(form, {'attr': attr|default({}), 'empty_value': empty_value|default(null)}) }}
            {{ form_errors(form)}}
        </div>
    </div>
{% endspaceless %}
{% endblock %}

{% block field_errors %}
{% spaceless %}
    {% if errors|length > 0 %}
        <div class="alert alert--error">
    {% for error in errors %}
          <div>
          {{ error.messageTemplate|trans(error.messageParameters, 'validators') }}
          </div>
    {% endfor %}
        </div>
    {% endif %}
{% endspaceless %}
{% endblock %}

{% block form_errors %}
{% spaceless %}
    {% if errors|length > 0 %}
         <div class="alert alert-danger text--milli center">
        {% for error in errors %}
             <div>
                {{
                    error.messagePluralization is null
                    ? error.messageTemplate|trans(error.messageParameters, 'validators')
                    : error.messageTemplate|transchoice(error.messagePluralization, error.messageParameters, 'validators')
                }}
             </div>
        {% endfor %}
          </div>
    {% endif %}
{% endspaceless %}
{% endblock %}

{% block form_label %}
{% spaceless %}
    {% if label is not sameas(false) %}
        {% if label is empty %}
            {% set label = name|humanize %}
        {% endif %}
        {% if not compound %}
            {% set label_attr = label_attr|merge({'for': id}) %}
        {% endif %}
        {% set label_attr = label_attr|merge({'class': label_attr.class|default('') ~ ' control-label' ~ (required ? ' required' : ' optional') }) %}
        <label{% for attrname,attrvalue in label_attr %} {{attrname}}="{{attrvalue}}"{% endfor %}>
        {{ label|trans({}, translation_domain) }}
        </label>
    {% endif %}
{% endspaceless %}
{% endblock %}

{% block datetime_widget %}
{% spaceless %}
    {% if widget == 'single_text' %}
        {{ block('form_widget_simple') }}
    {% else %}
            {% set attr = attr|merge({'class': attr.class|default('')}) %}
            <div {{ block('widget_container_attributes') }}>
                {{ form_errors(form.date) }}
                {{ form_errors(form.time) }}
                {{ form_widget(form.date, {'attr': {'class': attr.widget_class|default('')}}) }}
                {{ form_widget(form.time, {'attr': {'class': attr.widget_class|default('')}}) }}
            </div>
    {% endif %}
{% endspaceless %}
{% endblock %}

{% block date_widget %}
{% spaceless %}
{% if widget == 'single_text' %}
    {{ block('form_widget_simple') }}
{% else %}
        {% set attr = attr|merge({'class': attr.class|default('inline')}) %}
            {{ date_pattern|replace({
                '{{ year }}':  form_widget(form.year, {'attr': {'class': attr.widget_class|default('') ~ ' form-control'}}),
                '{{ month }}': form_widget(form.month, {'attr': {'class': attr.widget_class|default('') ~ ' form-control'}}),
                '{{ day }}':   form_widget(form.day, {'attr': {'class': attr.widget_class|default('') ~ ' form-control'}}),
            })|raw }}
        {{ block('help') }}
{% endif %}
{% endspaceless %}
{% endblock %}

{% block time_widget %}
{% spaceless %}
    {% if widget == 'single_text' %}
        {{ block('form_widget_simple') }}
    {% else %}
        {% set attr = attr|merge({'class': attr.class|default('')}) %}
        <div {{ block('widget_container_attributes')  }}>
            {{ form_widget(form.hour, { 'attr': {  'size': '1', 'class': 'input-mini' } }) }}:{{ form_widget(form.minute, { 'attr': { 'size': '1', 'class': 'input-mini' } }) }}{% if with_seconds %}:{{ form_widget(form.second, { 'attr': { 'size': '1', 'class': 'input-mini' } }) }}{% endif %}
        </div>
        {{ block('help') }}
    {% endif %}
{% endspaceless %}
{% endblock %}
